
<div class="container margintop">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/M/MV5BNDkzODhjMTktOTkwZS00MGQ3LTg4MGUtMDA5NWI2Y2ZiMzhjXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ocean Waves</h5>
              <p class="card-text">As a young man returns home after his first year away at college he recalls his senior year of high school and the iron-willed, big city girl that turned his world upside down.</p>
              <a href="#" class="btn btn-primary">agregar al carrito</a>
            </div>
          </div>
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>